<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Slacklight - Slack Lightbox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if process.env.NODE_ENV === 'production' %}
      <link rel="stylesheet" href="/css/main.min.css">
    {% else %}
      <link rel="stylesheet" href="/css/main.css">
    {% endif %}
  </head>
  <body>

    <div class="app container slacklight">
      <div class="row">
        <div class="logo"></div>
        {% block content %}{% endblock %}
      </div>
      <div class="modal">
      </div>
    </div>

    {% if process.env.NODE_ENV === 'production' %}
      <script src="/js/slacklight.min.js"></script>

      <script>
        window.intercomSettings = {
          app_id: "syaay785",
          name: 'anon',
          app: 'slacklight'
        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/syaay785';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

    {% else %}
      <script src="/js/slacklight.js"></script>
    {% endif %}
  </body>
</html>
