.slacklight .logo {
  .backgroundImage('../../img/common/slacklight-logo.png', contain);
  position: relative;
  margin: 20px auto 10px;

  @media (max-width: @screen-xs-max) {
    width: 90%;
    height: 130px;
  }
  @media (min-width: @screen-sm-min) {
    width: 70%;
    height: 140px;
  }
  @media (min-width: @screen-lg-min) {
    width: 40%;
    height: 130px;
  }
}
.slacklight .modal {
  background-color: @slacklight-modal;
}
.slacklight .modal button#close-icon {
  position: absolute;
  z-index: @zIndex-1;
  .backgroundImage('../../img/common/close-icon.png', contain);

  @media (max-width: @screen-xs-max) {
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
  }
  @media (min-width: @screen-sm-min) {
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
  @media (min-width: @screen-lg-min) {
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
  }

  &:hover {
    cursor: pointer;
  }
}
.slacklight .modal.visible {
  display: block;
}
.slacklight .modal .content {
  margin: 0 auto;
  position: relative;
  background-color: @slacklight-white;
  padding: 0 15px;
  border-radius: 10px;

  @media (max-width: @screen-xs-max) {
    height: 90%;
    width: 85%;
    top: 30px;
  }
  @media (min-width: @screen-sm-min) {
    width: 85%;
    top: 20px;
    height: 95%;
  }
  @media (min-width: @screen-lg-min) {
    top: 280px;
    width: 55%;
    height: 720px;
  }
}
.slacklight .modal .media-wrapper,
.slacklight .modal .title-wrapper {
  position: absolute;
  width: 100%;
}
.slacklight .modal .media-wrapper button#prev-nav-image,
.slacklight .modal .media-wrapper button#next-nav-image {
  @media (min-width: @screen-lg-min) {
    .backgroundImage('../../img/common/slack-nav-neutral.png', contain);
  }
  @media (min-width: @screen-md-min) {
    .backgroundImage('../../img/common/slack-nav-neutral.png', contain);
  }
  position: absolute;
  width: 50px;
  height: 50px;

  @media (max-width: @screen-xs-max) {
    width: 60px;
    height: 60px;
  }
  cursor: pointer;
  .transition(all 300ms ease);
}
.slacklight .modal .media-wrapper button#prev-nav-image {
  left: 20px;

  @media (max-width: @screen-xs-max) {
    left: 50px;
    .backgroundImage('../../img/common/slack-nav-prev.png', contain);
  }
  @media (min-width: @screen-sm-min) {
    left: 20px;
    .backgroundImage('../../img/common/slack-nav-prev.png', contain);
  }

  &:hover {
    transform: scale(1.15);
    .backgroundImage('../../img/common/slack-nav-prev.png', contain);
  }
}
.slacklight .modal .media-wrapper button#next-nav-image {
  right: 20px;

  @media (max-width: @screen-xs-max) {
    right: 50px;
    .backgroundImage('../../img/common/slack-nav-next.png', contain);
  }
  @media (min-width: @screen-sm-min) {
    right: 20px;
    .backgroundImage('../../img/common/slack-nav-next.png', contain);
  }

  &:hover {
    transform: scale(1.15);
    .backgroundImage('../../img/common/slack-nav-next.png', contain);
  }
}
.slacklight .modal .modal-image-wrapper {
  max-width: 570px;
  margin: 40px auto 0;
  background-color: #e6e6e6;
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  @media (max-width: @screen-xs-max) {
    width: 97%;
  }
  @media (min-width: @screen-sm-min) {
    width: 95%;
    margin-top: 70px;
  }
  @media (min-width: @screen-lg-min) {
    width: 75%;
  }
}
.slacklight .modal .modal-image-wrapper img.modal-image {
  width: 100%;
  height: 100%;
}
.slacklight .modal .media-wrapper,
.slacklight .modal .title-wrapper {
  position: absolute;
  width: 100%;
}
.slacklight .modal .modal-navigator.prev,
.slacklight .modal .modal-navigator.next {
  position: relative;
  @media (max-width: @screen-xs-max) {
    top: 380px;
  }
  @media (min-width: @screen-sm-min) {
    top: 700px;
  }
  @media (min-width: @screen-lg-min) {
    top: 260px;
  }
}
.slacklight .modal .title-wrapper {
  text-align: center;
  bottom: 0;
  font-size: 17px;
  padding: 0 40px 20px;

  @media (max-width: @screen-xs-max) {
    text-overflow: ellipsis;
    font-size: 12px;
    max-height: 105px;
    overflow: hidden;
  }
  @media (min-width: @screen-sm-min) {
    font-size: 15px;
    max-height: 165px;
  }
}
