.slacklight .logo {
  .backgroundImage('../../img/common/slacklight_logo.png', contain);
  position: relative;
  margin: 20px auto 10px;
  width: 40%;
  height: 130px;
}
.slacklight .modal {
  background-color: @slacklight-modal;
}
.slacklight .modal.visible {
  display: block;
}
.slacklight .modal .content {
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 630px;
  background-color: white;
  top: 280px;
}
